@import "mixins";

#contact {
  // display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); /* Yep! */
  margin: auto;
  padding: 0;
  text-align: center;
  // height: 100vh;
  .parallax {
    height: 100%;
    position: absolute;
  }
  h4 {
    width: 100vw!important;
    color: $mainColor;
    font-size: 5vw;
    margin: 0;
  }
  ul {
    font-size: 4vw;
    @media (max-width: 768px) {
      font-size: 1rem;
     }
    line-height: 1.5;
    li {
      display: inline-block;
      padding-bottom: 4px;
      border-bottom: 4px solid $mainColor;
      a:hover {
        font-family: $secondFont;
      }
      &:last-child {
        font-size: 80%;
      }
    }
  }
  #contact-form-btn {
    display: none;
    font-size: 2rem;
    @media (max-width: 768px) {
      font-size: 1rem;
     }
    background: $mainColor;
    color: $secondColor;
    padding: 4px 10px;
    margin-top: 40px;
    &:hover {
      padding: 10px 10px;
      font-family: $secondFont;
    }
  }
}
