@import "mixins";

#contact {
  width: 100%;
  padding: 0 5%;
  text-align: left;
  .parallax {
    width: 50%;
    height: 50vh;
    margin-top: -200px;
    z-index: -999!important;
    @media only screen and (max-device-width: 768px){
      height: 100vh;
      margin-top: 0;
    }
    @media only screen and (max-device-width: 768px) and (orientation: portrait){
      height: 50vh;
    }
  }
  h4 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 40px;
    margin-top: -200px;
    line-height: 1;
    color: $mainColor;
    @media only screen and (max-device-width: 568px){
      font-size: 1.5rem;
      line-height: 1.2;
    }
    a {
      // color: $secondColor;
      border-bottom: 1px solid $mainColor;
      -webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-ms-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in;
      &:hover {
        border-bottom: 1px solid $secondColor;
        color: $secondColor
      }
    }
  }
  ul {
    padding: 0;
    width: 80%;
    margin: auto;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    // display: flex;
    // justify-content: space-around;
    @media (max-width: 768px) {
      font-size: 1rem;
     }
    line-height: 1.5;
    li {
      display: inline;
      padding-bottom: 4px;
      // border-bottom: 4px solid $mainColor;
      a {
        // color: white;
        // text-shadow: $textShadow;
      }
      a:hover {
        font-family: $secondFont;
        color: $secondColor;
        text-decoration: line-through;
        font-variant: small-caps;
      }
      &:last-child {
        // font-size: 80%;
      }
    }
  }
  #contact-form-btn {
    display: none;
    font-size: 2rem;
    @media (max-width: 768px) {
      font-size: 1rem;
     }
    // background: $mainColor;
    // color: $secondColor;
    // padding: 4px 10px;
    margin-top: 40px;
    &:hover {
      padding: 10px 10px;
      font-family: $secondFont;
    }
  }
}

div.map-wrapper {
  margin-top: 100px;
  height: 40%;
  div#map {
    height: 40vh;
    width: 100%;
    @media only screen and (max-device-width: 768px){
      height: 100vh;
    }
  }
}
