@import "mixins";

#contact {
  width: 100%;
  padding: 0 5%;
  text-align: left;
  h4 {
    font-size: 4vw;
    margin: 0;
    margin-bottom: 40px;
    line-height: 4.6vw;
    color: $mainColor;
    a {
      // color: $secondColor;
      border-bottom: 1px solid $mainColor;
      -webkit-transition: all 400ms ease-in;
-moz-transition: all 400ms ease-in;
-ms-transition: all 400ms ease-in;
-o-transition: all 400ms ease-in;
transition: all 400ms ease-in;
      &:hover {
        border-bottom: 1px solid $secondColor;
        color: $secondColor
      }
    }
  }
  ul {
    padding: 0;
    width: 80%;
    margin: auto;
    font-size: 3vw;
    text-transform: uppercase;
    letter-spacing: 2px;
    // display: flex;
    // justify-content: space-around;
    @media (max-width: 768px) {
      font-size: 1rem;
     }
    line-height: 1.5;
    li {
      display: inline;
      padding-bottom: 4px;
      // border-bottom: 4px solid $mainColor;
      a {
        // color: white;
        // text-shadow: $textShadow;
      }
      a:hover {
        font-family: $secondFont;
        color: $secondColor;
        text-decoration: line-through;
        font-variant: small-caps;
      }
      &:last-child {
        // font-size: 80%;
      }
    }
  }
  #contact-form-btn {
    display: none;
    font-size: 2rem;
    @media (max-width: 768px) {
      font-size: 1rem;
     }
    // background: $mainColor;
    // color: $secondColor;
    // padding: 4px 10px;
    margin-top: 40px;
    &:hover {
      padding: 10px 10px;
      font-family: $secondFont;
    }
  }
}

div.map-wrapper {
  height: 40%;
  div#map {
    height: 100%;
    width: 100%;
  }
}
