@import "mixins";

footer {
  background: $mainColor;
  color: $secondColor;
  line-height: 1.5;
  font-size: .6rem;
  padding: 40px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  a {
    -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
        transition: all 400ms ease-in;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
  @media (max-width: 768px) and (orientation:landscape) {
   }
   @media (max-width: 768px) {
     font-size: .6rem;
    }
}
