@import "mixins";

footer {
  background: transparent;
  text-align: center;
  font-size: .8rem;
  padding: 80px 0 10px 0;
  // position: absolute;
  // width: 80%;
  // left: 0;
  // right: 0;
  margin: auto;
  @media (max-width: 768px) and (orientation:landscape) {
   }
   @media (max-width: 768px) {
     font-size: .6rem;
    }
}
