@import "mixins";

header {
  position: fixed;
  z-index: 999;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 60px;
  @media (max-width: 620px) {
    padding: 20px 0;
   }
  h1 {
    position: relative;
    font-size: 2rem;
    // font-family: $secondFont;
    margin-left: 30px;
    margin-top: 54px;
    margin-bottom: 0;
    line-height: .6;
    text-shadow: $textShadow;
    @media (max-width: 620px) {
      // font-size: 3rem;
      margin-top: 13px;
      margin-left: 70px;
     }
    -webkit-transition: all 400ms ease-in;
    -moz-transition: all 400ms ease-in;
    -ms-transition: all 400ms ease-in;
    -o-transition: all 400ms ease-in;
    transition: all 400ms ease-in;
    span {
      color: $secondColor;
    }
    a:hover {
    }
  }
  span.sub {
    display: none;
    color: $secondColor;
    font-size:60%;
    font-family: $secondFont;
    vertical-align: middle;
}
#contact-link {
  // display: none;
  position: fixed;
  right: 60px;
  top: 80px;
  font-size: .8rem;
  padding-bottom: 4px;
  border-bottom: 0px solid $mainColor;
  -webkit-transition: all 400ms ease-in;
  -moz-transition: all 400ms ease-in;
  -ms-transition: all 400ms ease-in;
  -o-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  &:hover {
    color: $secondColor;
    border-bottom: 1px solid $secondColor;
  }
  @media (max-width: 620px) {
    font-size: .8rem;
    top: 35px;
    right: 10px;
   }
}
}
