@import "mixins";

#info {
  position: relative;
  margin-top: 50px;
  display: flex;
  article {
    width: 50%;
    p {
      font-size: 1.3rem;
      line-height: 1.4;
    }
    h4 {
      color: $mainColor;
    }
    }
  }

  #savoir-faire {
    article {
      width: 50%;
      float: right;
      height: auto;
      // float: right;
      padding: 20px;
      h2 {
        position: absolute;
        left:0;
        width: 40%;
      }
      h3 {
        padding: 0;
        margin: 0;
      }
      h4 {
        color: $mainColor;
      }
      p {
        padding: 20px;
        font-size: 1.3rem;
        line-height: 1.4;
        span {
          font-size: 1.5rem;
          float: right;
          padding: 20px;
          color: $secondColor;
          background: #333;
        }
        }
    }
  }
