@import "mixins";

#portfolio {
  padding: 0;
  .hover-img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: auto;
    z-index: 0;
    opacity: 0;
    -webkit-transition: all 900ms ease-in;
-moz-transition: all 900ms ease-in;
-ms-transition: all 900ms ease-in;
-o-transition: all 900ms ease-in;
transition: all 900ms ease-in;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(../img/blank.jpg);
  }
  ul {
    text-align: center;
    line-height: 2;
    width: 80%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Yep! */
    li {
      display: inline;
      @media (max-width: 768px) {
        display: inline-block;
      }
      -webkit-transition: all 900ms ease-in;
  -moz-transition: all 900ms ease-in;
  -ms-transition: all 900ms ease-in;
  -o-transition: all 900ms ease-in;
  transition: all 900ms ease-in;
      a {
        font-size: 4vw;
        @media (max-width: 768px) {
          font-size: 2rem;
        }
        span {
          font-size: 1vw;
          text-transform: uppercase;
          letter-spacing: 2px;
          @media (max-width: 768px) {
            display: none;
          }
        }
        &:hover {
          color: $mainColor;
          cursor: crosshair;
          span {
            font-family: $mainFont;
          }
        }
      }
    }
  }
}
