@import "mixins";

#portfolio {
  clear: both;
  width: 100%;
  .portfolio-wrapper {
    line-height: 6;
    li{
      img {
        width: 60%;
        @media (max-width: 768px) {
          width: 80%;
         }
      }
      &:nth-child(even) {
        text-align: right;
      }
    }
  }
}
