@import "mixins";

#portfolio {
  display: none;
  width: 80%;
  margin: auto;
  // height: 100vh;
  position: relative;
  div.row {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
      flex-direction: column;
     }
    article {
      width: 30%;
      @media (max-width: 768px) {
        width: 100%;
       }
      h5 {
        font-size: 1.2vw;
        color: $secondColor;
        @media (max-width: 768px) {
          font-size: 1rem;
         }
        span {
          color: $mainColor;
          font-weight: normal;
          display: inline-block;
          @media (max-width: 768px) {
            font-size: .8rem;
           }
        }
      }
      img {
        width: 100%;
        @media (max-width: 768px) and (orientation:landscape) {
          width: 70%;
         }
      }
      &:nth-child(even) {
        padding-top: 20vh;
        @media (max-width: 768px) {
          padding-top: 0;
         }
      }
    }
  }
}
