@import "mixins";

#summer {
  background: url('../img/summer.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  @media only screen and (max-device-width: 768px){
    background: none;
  }
  height: 80vh;
  .summer-head {
    color: white;
    img {
      display: none;
      margin: auto;
      width: 100%;
      @media only screen and (max-device-width: 768px){
        display: block;
      }
    }
    h2 {
      margin-top: -10px!important;
      color: $mainColor;
      width: 100%;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-style: italic;
      margin: 0;
      @media only screen and (max-device-width: 768px){
        font-size: 1.2rem;
      }
      a#summer-go {
        margin-top: 30vh;
        @media only screen and (max-device-width: 768px){
          margin-top: 0;
          font-size: 1rem;
          text-align: center;
        }
        font-size: 1.5rem;
        padding: 1%;
        background: $mainColor;
        color: $secondColor;
        // text-transform: uppercase;
        // font-family: $secondFont;
        font-style: italic;
        display: table;
        -webkit-transition: all 400ms ease-in;
        -moz-transition: all 400ms ease-in;
        -ms-transition: all 400ms ease-in;
        -o-transition: all 400ms ease-in;
        transition: all 400ms ease-in;
        &:hover {
          color: $mainColor;
          background: transparent;
          border-bottom: 1px solid $mainColor;
        }
      }
    }
  }
  p {
    padding: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: sans-serif;
    font-size: .8rem;
    font-style: italic;
    text-shadow: none;
    margin-bottom: 0;
    @media only screen and (max-device-width: 768px){
      position: relative;
      padding: 0;
      margin-top: 100px;
    }
  }
}
