@import "mixins";

#summer {
  background: url('../img/summer.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  h2 {
    font-size: 5vw;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-style: italic;
  }
  a#summer-go {
    display: inline-block;
    margin: auto;
    font-size: 3vw;
    text-transform: uppercase;
    font-family: $secondFont;
    color: white;
    font-style: italic;
    display: table;
    &:hover {
      color: $secondColor;
    }
  }
  p {
    font-style: italic;
    color: white;
    letter-spacing: 2px;
    margin-top: 50vh;
    padding: 20px;
    margin-bottom: 0;
  }
}
